<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else previewImage">
        <button
          inmediateClick
          type="button"
          (click)="fileInput.click()"
          class="btn btn-primary"
        >
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          hidden
          formControlName="file"
          type="file"
          accept="image/*"
          (change)="handleFile($event.target.files[0])"
        />
        <app-vmessage
          text="Please, select a photo"
          *ngIf="!!photoForm.get('file').errors?.required"
        >
        </app-vmessage>
      </div>
      <ng-template #previewImage>
        <div class="text-center">
          <app-photo [url]="preview" title="Preview"></app-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea
          formControlName="description"
          class="form-control form-control-sm"
          placeholder="photo description"
        ></textarea>
        <app-vmessage
          text="Maximun size allowed is 300"
          *ngIf="!!photoForm.get('description').errors?.maxlength"
        >
        </app-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input formControlName="allowComments" type="checkbox" />
        </label>
      </div>

      <div *ngIf="!percentDone; else uploaddiv">
        <button
          [disabled]="photoForm.invalid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Upload
        </button>

        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>

      <ng-template #uploaddiv>
        <div class="text-center display-4">uploading {{ percentDone }} %</div>
      </ng-template>
    </div>
  </form>
</div>
